@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 

:root{
    --color-primario:#000000;
    --color-secundario:#F6F6F6;
    --color-terciario:#22D4FD;
    --color-hover:#272727;

    --fuente-krona:"Krona One", sans-serif;
    --fuente-montserrat:"Montserrat", sans-serif;
}


*{
    padding: 0;
    margin: 0;
}


body{
    box-sizing: border-box;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    
}        

.header{
    padding: 2% 0% 0% 15%;
}

.header__menu{
    display: flex;
    gap: 80px;
}


.header__menu__link{
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}


.presentacion{
    display: flex;
    align-items: center;
    padding: 5% 15%;
    justify-content: space-between;
    
}


.presentacion__contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.presentacion__contenido__titulo{
    font-family: var(--fuente-krona);
    font-size: 2rem;
}

.titulo__destaque{
    color: var(--color-terciario);
}

.presentacion__contenido__texto{
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
}


.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}
    

.presentacion__enlaces__subtitulo{
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;
}


.presentacion__enlaces__link{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%; 
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}


.presentacion__enlaces__link:hover{
    background-color: var(--color-hover);
}


.presentacion__imagem{
    width: 50%;
}


.footer{
    background-color: var(--color-terciario);
    color: var(--color-primario);
    padding: 24px;
    text-align: center;
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;

}

@media (max-width:1200px) {

    .header{
        padding: 10%;
    }

    .header__menu{
        justify-content: center;
    }


    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentacion__contenido{
        width: auto;
    }
    .presentacion__contenido__titulo{
        font-size: 1.5rem;
    }

    }

